<<<<<<< HEAD
.formControl {
  width: 30%;
  margin-bottom: 30px !important;
=======
.formControl {
  width: 30%;
  margin-bottom: 30px !important;
>>>>>>> c4f4d33962bc25c1d0371882b04664ceeca6053e
}